@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Nunito:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

.home-cnt {
    border: 2px solid black;
}

.login-container {
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    right: 0px;
    background-color: white;
}

.login-heading {
    padding: 15px 0px;
}

.adm-l {
    width: 100%;
    display: flex;
    /* padding: 10px 0px; */
    /* border: 2px solid black; */
    flex-direction: column;
    align-items: center;
    margin-top: -70px;
}

.adm-l h1 {
    letter-spacing: 1px;
}

.adm-l img {
    width: 40%
}

.inp-field {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 20px;
    align-items: center;
    border-radius: 10px;
    /* justify-content: space-between; */
}

.mainTab {
    margin-top: 20px;
}

.card-toolbar2 {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.inpF {
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
}

.inpF:nth-child(2) {
    margin-left: 30px;
    width: 40%;
}

.Q_and_A_card {
    margin-top: 25px;
    padding: 10px;
    box-shadow: 2px 1px 5px 1px rgb(206, 206, 206);
}

.sendBtn {
    margin-left: 10px;
    border: none;
    width: 60px;
    background-color: #7cffcb;
    background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
    border-radius: 10px;
    color: white;
}

.fs-7 {
    width: 100%;
    background-color: transparent;
}

.givenAns {
    color: black;
    font-size: 12px;
    margin-top: 10px;
}

.dropdown {
    display: flex;
    /* justify-content: space-even; */
    align-items: center;
    margin: 0px 10px;
    margin-left: 28px;
}

.dropdn-btn {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.masik-upload-btn {
    border: 2px solid green
}

.formGroup {
    width: 100%;
    padding: 20px 100px;
    background-color: white;
    border-radius: 20px;
}

.formGroup label {
    margin-top: 20px;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.formGroup input {
    background-color: rgba(169, 180, 182, 0.1);
    border: none;
    height: 45px
}

@media screen and (min-width:560px) {
    .inp-field {
        display: flex;
        flex-direction: row;
    }
}

.play-btn {
    border: none;
    background-color: white;
}

.play-icon {
    transform: scale(1.5);
    pointer-events: none;
    color: rgb(134, 191, 255);
}

.music-player {
    padding: 10px;
}

.song-info {
    display: flex;
    align-items: center;
}

.song-cover {
    width: 80px;
    border-radius: 100px;
    overflow: hidden;
}

.song-cover-img {
    width: 100%;
}

.song-sub-info {
    padding: 10px;
}

.songStatus {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-trakcing {
    background-color: gray;
    height: 3px;
    width: 100%;
    border-radius: 10px;
}

.music-player-controll {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.msc-btn {
    /* border-radius: 100px; */
    background-color: none;
    border: none;
}

.main-play-icon {
    transform: scale(2);
    pointer-events: none;
}

.date-picker {
    border: none;
    height: 45px;
    padding: 10px;
    font-size: 16px;
    width: 130px;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}

.inp-field-2 {
    width: 100%;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.inpF-2 {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.imp-date-btn-div {
    /* width: 20%; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.imp-date-btn {
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: #7cffcb;
}

.add-btn {
    transform: scale(1.7);
    color: #0170b1;
}

.imp-date-head {
    height: 40px;
    border: none;
    border-bottom: 2px solid rgb(189, 189, 189);
    display: flex;
    align-items: center;
    padding-right: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

.inpF-3 {
    display: flex;
    flex-direction: column;
}

.inpF-3 input {
    width: 100%
}

.imp-date-btn-div-2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.imp-date-btn-div-2 button {
    text-transform: uppercase;
    font-weight: bold;
    /* color: white; */
}

.time-picker-div {
    display: flex;
    align-items: flex-end;
}

.time-picker {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.slectTm {
    height: 35px;
    width: 50px;
    background-color: rgb(245, 248, 250);
    border: none;
    padding: 0px 2px;
    font-size: 10px;
    font-weight: bold;
}

.slectTm1 {
    height: 35px;
    width: 45px;
    background-color: rgb(245, 248, 250);
    border: none;
    padding: 0px 2px;
    font-size: 10px;
    font-weight: bold;
}

.slectTm1::-webkit-scrollbar {
    width: 5px;
}

.slectTm1 option {
    border: none;
}

.rsb-btn-div {
    width: 100%;
    margin-top: 10px;
    padding: 5px 10px;
}

.rsb-btn {
    height: 40px;
    width: 100px;
    border: none;
    background-color: #0170b1;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.modal-disable {
    position: absolute;
    right: 0px;
    top: 0px;
    border-bottom-left-radius: 10px;
    border: none;
    height: 30px;
    width: 30px;
    color: white;
}

.form-group {
    margin-top: 10px;
}

.form-group:nth-child(1) {
    margin-top: 0px;
}

.modal-disable button {
    /* border-radius: 100px; */
    border: none;
    position: absolute;
    right: 0px;
    color: white;
    font-size: 10px;
    border-bottom-left-radius: 10px;
}

.info-table-div {
    margin-top: 20px;
}

.conf-del-des {
    width: 340px;
}

.conf-del-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conf-chd {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.conf-chd {
    margin: 10px;
}

.login-cnt {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh
}

.login-div {
    width: 60%
}

.form-group label:nth-child(1) {
    margin-top: 0px;
}

.form-group label {
    margin-top: 15px;
}

.modal-des-btn {
    border: none;
    background-color: tomato;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    width: 25px;
    box-shadow: 2px 1px 3px 1px rgb(177, 177, 177);
}

.delete-icon-btn {
    border: none;
    background-color: transparent;
}

.delete-icon {
    pointer-events: none;
}

.crt-icon-btn {
    border: none;
    background-color: transparent;
}

.crt-icon {
    pointer-events: none;
}

.crt-icon-btn:hover .crt-icon {
    color: skyblue
}

.delete-icon-btn:hover .delete-icon {
    color: tomato;
}

.pdf-logo-img {
    width: 50px;
}

.edit-btn-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    /* margin-top: -30px; */
}

.edit-btn-div button {
    width: 50px;
    border: none;
    background-color: rgb(206, 250, 141);
    border-radius: 6px;
}

.panchang-form {
    background-color: white;
    padding: 20px 20px;
    border-radius: 10px;
}

.panchang-form input {
    background-color: rgb(245, 248, 250);
}

.panchang-dashboard {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 10px
}

.panchang-dashboard button {
    border: none;
    border-bottom: 2px solid #0170b1;
    /* font-weight: bold; */
    background-color: transparent;
    color: #0170b1;
}

.panchang-dashb {
    /* border: 2px solid red */
}

.dropdown {
    background-color: transparent;
    margin-left: 0px;
}

.viweImage {
    border-radius: 10px;
    width: 150px;
    height: 60px;
    overflow: hidden;
}

.viweImage img {
    margin-top: 10px;
}

.masikGroup {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

.viweImage img {
    box-shadow: 0px 0px 5px 1px rgb(204, 204, 204);
    width: 100%;
    margin-top: 5px;
    border-radius: 7px;
}

.spanOfmsg {
    font-size: 10px;
}

.monthdate-container {
    width: 100%;
    padding: 0px 30px;
    background-color: white;
}

.monthdate-container input {
    background-color: rgb(247, 250, 251);
}

.monthdate-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px 5px;
    border-bottom: 2px solid black;
}

.monthdate-btn button {
    border: none;
    border-bottom: 2px solid #0170b1;
    padding: 5px 15px;
    background-color: transparent;
    font-weight: bolder;
    font-size: 16px;
    color: #0170b1;
}


.monthdate-div {
    margin-top: 20px;
}

.monthdate-date-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.monthdate-date-field button {
    height: 30px;
    background-color: transparent;
    /* border-bottom: 2px solid black; */
    background-color: rgba(104, 200, 222, .4);
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 10px;
    padding: 0px 5px;
    color: black;
    letter-spacing: 1px;
}

.upArrIcon {
    color: rgb(100, 193, 255);
}

.monthdate-date-field input {
    width: 100%;
    /* padding: 2px 10px; */
    font-size: 16px;
    border: none;
    /* font-weight: bolder; */
    /* text-align: center; */
    background-color: transparent;
}

.span-coat {
    font-size: 10px;
}

.formgrp {
    /* padding: 20px 0px */
}

.formgrp button {
    width: 100px
}

.monthdate-cnt {
    width: 100%;
    /* height: 50vh; */
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.date-cube {
    width: 120px;
    height: 120px;
    /* border: 2px solid black; */
    margin: 2px;
    /* margin-bottom: 20px; */
    box-shadow: 0px 1px 5px 1px rgb(184, 184, 184);
    border-radius: 10px;
    transition: 0.8s;
    cursor: pointer;
    position: relative;
}

.dt-cb {
    height: 40px;
    background-color: #00ace0;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.date-cube:hover {
    background-color: rgb(234, 241, 247);
    transition: 0.4s;
}

.cube-holder {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-items: center;
}

.cube-heading {
    padding: 10px;
}

.cube-heading h2 {
    font-size: 30px;
}

.cube-info {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cube-info ::-webkit-scrollbar {
    width: 5px;
}

.cubinfo-spn {
    font-weight: lighter;
    overflow-y: auto;
}

.edit-cube {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    /* z-index: 10;     */
}

.edit-cube button {
    border: none;
    border-bottom-left-radius: 10px;
    /* background-color: #a3d6ff; */
    border-top-right-radius: 10px;
    font-size: 10px;
    /* width: 40px;
    height: 20px; */

}

.abt-d-spn {
    font-weight: bold;
}

.main-events-cnt {
    overflow: hidden;
    padding-bottom: 20px;
    transition: 0.4s;
    height: 0px;
    background-color: rgba(104, 200, 222, .2);
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;


}

.datepicker-react {
    height: 45px;
    background-color: rgb(247, 250, 251);
    border: none;
    padding: 0px 10px;
    letter-spacing: 1px;
    font-size: 18px;
    width: 120px
}

.info-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
}

.info-form {
    width: 80%;
    padding: 10px;
}

.info-form input {
    background-color: rgb(245, 248, 250);
}

.vikrant-container {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.vikrant-img-prev {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vikrant-img-prev img {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

.vkr-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vikrant-container input {
    background-color: rgb(245, 248, 250);

}


.custom-file input {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}

.add-eve-select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.lbl-select {
    display: flex;
    flex-direction: column;
}

.lbl-select select {
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px
}

.line-end-logout {
    color: white;
    border-bottom: 2px solid rgb(109, 109, 109);
    margin-top: 20px;
}

.group-of-two {
    display: flex;
}

.group-of-two input {
    background-color: rgb(246, 247, 248);
}

.product-add-btn-div {
    width: 100%;
    margin-top: 20px;
}

.product-add-btn-icon {
    transform: scale(1.5);
    color: white;
    pointer-events: none;
}

.product-add-btn {
    border: none;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #00ace0;
}

.product-add-btn span {
    margin-left: 5px;
    color: white;
    font-size: 18px;
}

.modal-disable-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    height: 30px;
    width: 30px;
    border-bottom-left-radius: 10px;
    color: tomato;
}

.image-prev-div {
    margin-top: 10px;
}

.image-prev-div img {
    width: 50px;
    margin: 10px;
}


.category-dash input {
    background-color: rgb(246, 247, 248);
}